@{
    ViewData["Title"] = "Bobcat Currency Exchange [BCEX] Home Page";
}

<p>@ViewData["Message"]</p>

<body>
    <h1>Bobcat Currency Exchange [BCEX]</h1>

    <p>
        A virtual currency exchange is a digital platform that facilitates the buying,
        selling, and trading of virtual currencies (like Bitcoin, Ethereum, or
        proprietary game currencies) in exchange for real-world money (like USD, EUR, etc.).
    </p>

    <h2>Basic Premise</h2>

    <p>
        <img src="/Images/BCEX.png" alt="Clipart image of virtual currency" style="float: right; margin: 5px;">
        At its core, a virtual currency exchange operates much like a stock or forex exchange:
    </p>

    <ul>
        <li>Buyers want to purchase virtual currency using real money.</li>
        <li>Sellers want to sell virtual currency in exchange for real money.</li>
        <li>The exchange matches buyers and sellers based on the prices (bids and asks) they set.</li>
        <li>When a buyer’s bid matches a seller’s ask (or vice versa), a transaction is executed.</li>
    </ul>
    <p>This marketplace approach ensures that prices are driven by supply and demand.</p>

    <h2>Features of the Bobcat Currency Exchange</h2>

    <p>The BCEX contains the following feature set:</p>

    <ul>
        <li>
            <b>Registration:</b> Users can create an account and receive a starting amount of (fictional)
            <i>Virtual Currency</i> (VC) and <i>Real Money Tender</i> (RMT) to facilitate trades.
        </li>
        <li>
            <b>Limit Orders:</b> Users can place <i>Limit Orders</i>, where they specify the quantity of VC they
            wish to buy and the maximum price they're willing to pay (or the quantity of VC they wish to sell
            and the minimum price they're willing to accept).
        </li>
        <li>
            <b>Market Orders:</b> Users can also place <i>Market Orders</i>, where they specify the quantity of VC
            they wish to buy or sell immediately, at the best price the market is <i>currently</i> offering.
        </li>
        <li>
            <b>Automated Order Fulfillment:</b> When an order is placed, the server processes all pending orders,
            matching buyers and sellers until all possible orders have been matched, traded, and processed.
        </li>
    </ul>
</body>